<div class="moviesContainer">
    <% if (locals.moviesData) {
            if (moviesData.length == 0) { %>

        <p>Nothing to show yet.</p>

        <% } else {
            for(var i = 0; i < moviesData.length; i++) {
                let movie = moviesData[i]; %>
                <div class="content movieContainer">
                    <span class="fa fa-ban removeIcon"></span>
                    <a href="/viewMovie?movieId=<%= movie.imdbID %>">
                        <div class="movieCover" style="background-image: url(<%= movie.Poster %>)"></div>
                    </a>
                </a>
                    <h5 class="movieTitle">
                        <%= movie.Title %>
                    </h5>
                    <div class="watchlistMovieOptions" movieId="<%= movie.imdbID %>">
                        <input type="hidden" class="user-rating" value="<%= movie.userRating %>" />
                        <%- include rating %>

                    </div>
                </div>
            
            <% }
            %>
                <script src="../assets/rating.js"></script>            
            <%
            }} %>
</div>