<!DOCTYPE html>
<html>

<head>
    <title>Home</title>

    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
        
</head>

<body>

    <% include ../partials/navbar %>
      
            <div class="content-profile-page">
                <div class="profile-user-page card">
                   <div class="img-user-profile">
             
                     <div id="divCoverPhoto" runat="server" class="profile-bgHome" style="background: url(../images/cover1.png)">  
                        <% if (viewingUserWithId == userLoggedIn) { %> 
                         <a href="/editProfile"><button id="btnEditProfile" class="btn btn-primary edit-profile">Edit Profile...</button></a>
                        <% } %>
                     </div>
             
                     <div class="avatar-container">
                         <img id="imgProfile" class="avatar" src="<%= (locals.userInfo && userInfo.photo != null) ? '../images/upload_images/' + userInfo.photo : '../images/profile-placeholder.png' %>"/>        
                     </div>
             
                        </div>
                       <div class="user-profile-data">
                         <h1 id="userName" runat="server"><%= (locals.userInfo) ? userInfo.fname + ' ' + userInfo.lname : ''; %></h1>
                       </div> 
             
                    <ul class="data-user">
                     <li><a href="/profile?user=<%= locals.viewingUserWithId ? viewingUserWithId : ''; %>">About</a></li>
                     <li><a href="/profile/watchlist?user=<%= locals.viewingUserWithId ? viewingUserWithId : ''; %>">Watchlist</a></li>
                     <li><a href="/profile/seen?user=<%= locals.viewingUserWithId ? viewingUserWithId : ''; %>">Seen</a></li>
                    </ul>
                  <div style="margin: 20px">
            <%- include('../partials/' + profilePage + '.ejs') %>
        </div>
                  </div>
          </div>
              


</body>

</html>