<!DOCTYPE html>
<html>

<head>
    <title>Home</title>

    <% include ../partials/head %>
        <link rel="stylesheet" type="text/css" href="../css/movies.css">

        <style type="text/css">
            .searchBtn {
                margin-left: 5px;
                height: 33px;
            }
        </style>
</head>

<body>

    <% include ../partials/navbar %>
        <div class="mainContainer">
            <h4 class="pageTitle">
                <span class="fa fa-search titleIcon"></span>Search similar movies</h4>
            <div class="form-group">
                <input type="text" id="searchSimilarInput" name="title" class="form-control" style="display: inline; width:400px;" placeholder="Enter a movie title.."
                />                
                <button id="searchSimilarBtn" type="button" class="btn btn-primary searchBtn">Search similar movies</button>
            </div>

            <!-- search results -->
            <% if (locals.moviesData && locals.moviesData.length > 0) { %>
                <p>Movies similar to <a href="/search/<%= locals.title %>"><%= locals.title %></a></p>
                <div class="moviesContainer">
                       <% for(var i = 0; i < moviesData.length; i++) {
                            let movieData = moviesData[i]; 
                            if (!movieData.imdbID) {
                                continue;
                            }
                        %>
                    <a href="/viewMovie?movieId=<%= movieData.imdbID %>">
                        <div class="content movieContainer">
                            <div class="movieCover" style="background-image: url(<%= movieData.Poster %>)">
                            </div>
                            <h5 class="movieTitle">
                                <%= movieData.Title %>
                            </h5>
                            <% if (userLoggedIn) { %>
                            <div class="recommendationsMovieOptions">
                                <a href="/addToWatchlist?movieId=<%= movieData.imdbID %>">
                                    <button type="button" class="btn btn-default optionButton <% if (movieData.isInWatchlist) { %> optionButtonActive <% } %>">
                                        <span class="fa fa-bookmark buttonIcon"></span>Watchlist
                                    </button>
                                </a>
                                <a href="/addToSeen?movieId=<%= movieData.imdbID %>">
                                    <button type="button" class="btn btn-default optionButton <% if (movieData.isInSeen) { %> optionButtonActive <% } %>">
                                        <span class="fa fa-check buttonIcon"></span>Seen
                                    </button>
                                </a>
                            </div>
                            <% } %>
                        </div>
                    </a>
                        <% } %>
                </div>
                <% } else if (locals.title && locals.title.length > 0) { %>
                    <p>We could not find movies similar to <%= locals.title %>.</p>
                <% } %>
        </div>

        <script type="text/javascript">
            document.getElementById('searchSimilarBtn').onclick = () => {
                let title = document.getElementById('searchSimilarInput').value;

                window.location.href = `/searchSimilar/${title}`;
            };
        </script>

</body>

</html>