<!DOCTYPE html>
<html>

<head>
        <title>Home</title>

        <% include ../partials/head %>
                <link rel="stylesheet" type="text/css" href="../css/view-movie.css">
</head>

<body>
        <div class="container mainContainer">
                <div class="leftSide">
                        <div class="movieCover" style="background-image: url(<%= movieData.Poster %>)">
                        </div>
                </div>
                <div class="rightSide">
                        <p id="movieDescription">
                                <%= movieData.Plot %>
                        </p>
                        <div class="infoCard">
                                <p>
                                        <strong>Genre:</strong>
                                        <%= movieData.Genre %>
                                </p>
                                <p>
                                        <strong>Director:</strong>
                                        <%= movieData.Director %>
                                </p>
                                <p>
                                        <strong>Writer:</strong>
                                        <%= movieData.Writer %>
                                </p>
                                <p>
                                        <strong>Production:</strong>
                                        <%= movieData.Production %>
                                </p>
                                <p>
                                        <strong>Runtime:</strong>
                                        <%= movieData.Runtime %>
                                </p>
                                <p>
                                        <strong>Release Date:</strong>
                                        <%= movieData.Released %>
                                </p>
                                <p>
                                        <strong>Main Cast:</strong>
                                        <%= movieData.Actors %>
                                </p>
                        </div>
                </div>
        </div>

        <!-- movie title -->
        <div id="movieHeader">
                <h2 id="movieTitle">
                        <%= movieData.Title %>
                </h2>
                <% if (userLoggedIn) { %>
                <div id="movieOptions">
                        <a href="/addToWatchlist?movieId=<%= movieData.imdbID %>">
                                <button type="button" class="btn btn-default optionButton <% if (movieData.isInWatchlist) { %> optionButtonActive <% } %>">
                                        <span class="fa fa-bookmark buttonIcon"></span>Watchlist
                                </button>
                        </a>
                        <a href="/addToSeen?movieId=<%= movieData.imdbID %>">
                                <button type="button" class="btn btn-default optionButton <% if (movieData.isInSeen) { %> optionButtonActive <% } %>">
                                        <span class="fa fa-check buttonIcon"></span>Seen
                                </button>
                        </a>
                </div>
                <% } %>
        </div>
        <% include ../partials/navbar %>

</body>

</html>